<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>The World's Carbon and Methane Emissions</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/style.css" type="text/css">
</head>

<body>
  <h2>Note to team members regarding data retrieval: </h2>
  <p>Use /methane_data after base URL to access methane json data</p>
  <p>Use /carbon_data after base URL to access carbon json data</p>

</body>

</html>

